.name{
    /* margin-bottom: 50px; */
    padding: 60px;
    
}



.gallery{
    padding: 20px;
    color: rgb(250, 248, 248);
    font-size: 35px;
    font-weight: 800;
}

.galleries{
    color: black;

    
}


.img{
    border-radius: 30px ;
}

@media screen and (max-width: 600px) {
    .name {
    padding: 20px;
    background-color: rgb(163, 71, 71);
    }
}




