/* .main{display: flex; 
 display: inline-block; 
 } 

 @media (max-width:600px) {

    .main {
        display: flex;
         display: inline-block; 
        flex-wrap: wrap;
     height: 450px; 
        gap: 50px
    }
}  */

.container {
    align-items: center;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    background-color: rgb(56, 56, 99);
}

.images {
    /* max-width: 600px; */
    margin: 0 auto;
    /* color: rgb(220, 26, 26); */
}

@media screen and (max-width: 600px) {
    .List {
        display: flex;
        flex-direction: column;
    }
}