.wrapper {
    display: flex;
    flex-direction: column;
    color: rgb(250, 249, 249);
    max-width: 1000px;
    justify-content: center;
    background-color: green;
    padding: 50px;
    margin: 0 auto;
    align-items: center;
    padding-left: 50x;
}

.image {
    width: 300px;
    height: 200px;
}

.wrap {
    display: flex;
    gap: 50px;
}

.container {
    padding-top: 100px;
    padding-bottom: 200px;
    background-color:rgb(3, 3, 88);
}

.details{
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
    background-color: green;
    padding: 50px;
    border-radius: 30px;
}

.header {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 700px;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
}
