.container{
    
    background-color: rgb(18, 18, 66);
    
}

.wrapper{
    margin: 0 auto;
    max-width: 600px;
    align-items: center;
    background-color: green;
    padding :  100px;
    color:white;
    border-radius: 20px;
}

.header{
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;
}

.body{
    margin-bottom: 30px;
    margin-top: 30px;
}

.link{
    display: flex;
    gap: 100px;
}

.link a {
    color:white
}