.cart{
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.cartImage{
    /* margin-bottom: 20px; */
    
}

.Image{
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

.titles {
    text-align: start;
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(248, 248, 245);
    /* text-decoration: none; */
    font-size: 15px;
    margin-bottom: 10px;
}

@media (max-width:600px) {

    
    .cart{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
    }

}