.container {
    align-items: center;

    background-color: rgb(56, 56, 99);
}

.images{
    max-width: 1000px;
    margin: 0 auto;
    color:rgb(248, 247, 247);
 background-color: green;
    padding: 50px;
    font-size: 3opx;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .images {
        padding: 100px;
        border-radius: 50px;
    }
}
