@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.primary-button {
  @apply bg-primary text-white py-2 px-4 shadow outline-none hover:bg-primary-600 active:bg-primary-700 uppercase text-center transition-colors duration-200;
}

.secondary-button {
  @apply bg-none text-primary border border-primary py-2 px-4 outline-none tracking-wider font-medium hover:bg-primary-50 active:bg-primary-100 uppercase text-center transition-colors duration-200;
}

.default-button {
  @apply bg-none py-2 px-4 outline-none hover:bg-indigo-200 active:bg-indigo-300 border border-indigo-900 text-indigo-900;
}

.bg-hero {
  background-image: url('/images/head-office.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(180, 183, 197, 0.918);
  background-blend-mode: multiply;
}