.links {
    display: flex;
    gap: 30px;
    
}



.sideBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding: 20px;

}



.icon {
    color: white;
    display: none;
}



.names {
    padding: 4px;
    padding-left: 5px;
    color: white;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 100px;
    text-decoration: none;
    gap: 20px;
    display: inline-block;
    align-items: center;
    color: white;
    margin: 0 auto;
}

.logo {
    display: flex;
    padding: 10px;
    height: 55px;
    align-items: end;
    justify-content: start;
    margin-bottom: 20px;
}

.nav {
    display: inline-block;
    display: flex;
    gap: 100px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .links {
        display: flex;
        flex-direction: column;  
        /* background-color: gray;  */
    }

    .hidden {
        /* display: flex;
        color: white; 
    font-size: large;
        font-family: sans-serif;
        font-weight: 100;
        text-decoration: none;  */
    }

    .names {
        display: flex;
        text-decoration: none;
        /* background-color: rgb(217, 211, 211); */
        width: 100%;
        padding: 10px;
    }

    .names:hover {
        /* color: blue;  */
    }

    .hidden:hover {
        color: white;
        /* background-color: blue  */
    }

    .sideBar {
        display: flex;
    }

    .link {
        /* display: block; */
        /* flex-direction: column;  */
        /* display: flex; */
    }
}