.buy {
    padding: 5px 30px;
    width: 100%;
    /* background-color: rgba(27, 223, 27, 0.798); */
    border-radius: 15px;
    color: rgb(38, 36, 36);
    font-size: 20px;
}

.BookDetails {
    display: flex;
    background-color: rgb(49, 49, 174);
    gap: 10px;
    border-radius: 30px;
    margin: 50px auto;
    max-width: 800px;
    align-content: center;

}

.left {
    flex: 1;


}

.right {
    flex: 1;

    padding: 10px;

    /* border-radius: 40px; */
    /* width: 600px; */
    /* height: 370px; */
    font-size: 13px;
    font-family: sans-serif;
    line-height: 1.5;
    color: rgb(239, 235, 235);
}

.header {
    text-align: center;
    font-size: 25px;
    background-color: rgb(53, 53, 93);
    color: white;
    padding: 30px;
    border-radius: 20px;
}

.formulary {
    text-wrap: wrap;
    padding: 5px;

}

.pageButtonsContainer {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 50px;
    background-color: rgba(32, 32, 53, 0.716);
    padding: 12px;
    color: white;
}

.pageNumber {
    font-size: 50px;
}

.pagingButton {
    width: 100px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: 20px;
}

.pagingButton:hover {
    background-color: tomato;

    .catalog {
        text-align: center;
    }
}

@media (max-width: 600px) {
    

    .header {
        margin-left: 15px;
    }

    .BookDetails {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .formulary {
        /* text-align: center; */
        padding: 10px;
        text-wrap: wrap;
        overflow: hidden;

    }
}