.header {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 700px;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.list {
    list-style: none;
    display: flex;
    gap: 20px;
    /* padding: 30px 40px; */


}

.name{
    margin-top: 10px;
    margin-bottom: 10px;
}





.image {


    gap: 30px;
    margin-bottom: 30px;


}

.galleries{
    color: black;
    
}

.img  {
    border-radius: 30px;
    margin-bottom: 20px;
}


.container {
    padding: 5rem 0;
    height: 100%;
    width: 100%;
    /* width: 600px; */
    /* background-color:var(--primary-color); */
    align-items: center;
    align-content: center;
    background-color: rgb(56, 56, 99);


}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    justify-content: center;
    background-color: rgb(6, 134, 6);
    padding: 50px;
    color: white;
    /* font-size: 30px;
    font-weight: 700;
    font-family: sans-serif; */

    border-radius: 50px;

}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
}

.titles>h5 {
    font-size: 22px;
    color: #efefef;

}

.title>h2 {
    font-size: 32px;
    color: #efefef;

}

.name {
    justify-content: space-between;
    color: white
}


/* .loaders{
    border:1px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
} */

.pageButtonsContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: space-between;
}

.pagingButton:hover {
    cursor: pointer;
    padding: 6px;
    border-radius: 10px;
    color: rgb(151, 42, 78);
}

.pagingButton {
    padding: 8px;
    border-radius: 8px;
}

.detail {
    display: flex;

    padding: 30px;

    margin: 0 auto;
    width: 500px;
    justify-content: space-around;

}

.detail a:hover {
    /* color: rgb(233, 222, 233); */
    border-radius: 5px;
    color: white;
    padding: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }


}


@media screen and (max-width : 600px) {

    .list {
        display: flex;
        flex-direction: column;
    }

    .pageButtonsContainer {

        display: flex;
        flex-direction: column;
    }

    .detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}